.error-message {
  margin-top: 3px;
  margin-bottom: 5px;
  color: var(--ion-color-danger);
}
.file-input {
  opacity: 0;
  position: absolute;
}
.file-preview {
  display: flex;
  align-items: center;
  margin-top: 10px;

  img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
  }
}
