<div class="heading ion-padding">
  <h1>{{ 'auth.setPassword.title' | translate }}</h1>
</div>

<div class="set-password-section">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="set-password-form ion-padding">
      <div class="form-input">
        <ion-item>
          <ion-label position="floating">{{ 'auth.setPassword.password' | translate }}</ion-label>
          <ion-input type="password" formControlName="password" class="form-control"></ion-input>

          <div
            class="error-message"
            *ngIf="passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched)"
          >
            <small *ngIf="passwordControl?.hasError('required')">{{ 'auth.setPassword.required' | translate }}</small>
            <small *ngIf="passwordControl?.hasError('minlength')">{{ 'auth.setPassword.minlength' | translate }}</small>
          </div>
        </ion-item>
      </div>

      <div class="form-input">
        <ion-item>
          <ion-label position="floating">{{ 'auth.setPassword.confirmPassword' | translate }}</ion-label>
          <ion-input type="password" formControlName="confirmPassword" class="form-control"></ion-input>

          <div
            class="error-message"
            *ngIf="
              confirmPasswordControl?.invalid && (confirmPasswordControl?.dirty || confirmPasswordControl?.touched)
            "
          >
            <small *ngIf="confirmPasswordControl?.hasError('required')">{{
              'auth.setPassword.required' | translate
            }}</small>
            <small *ngIf="confirmPasswordControl?.hasError('minlength')">{{
              'auth.setPassword.minlength' | translate
            }}</small>
            <small *ngIf="confirmPasswordControl?.hasError('passwordMismatch')">
              {{ 'auth.setPassword.passwordMismatch' | translate }}
            </small>
          </div>
        </ion-item>
      </div>
    </div>

    <div class="set-password-button ion-padding">
      <ion-button type="submit" class="set-password-button" size="large" [disabled]="passwordForm.invalid">{{
        'auth.setPassword.submit' | translate
      }}</ion-button>
    </div>
  </form>
</div>
