<!--<div class="background-wrap">
  <div class="background"></div>
</div>

<form id="accesspanel" (ngSubmit)="doLogin()">
  <div class="inset">
    <p>
      <input type="text" name="username" [(ngModel)]="username" placeholder="username">
    </p>
    <p>
      <input type="password" name="password" [(ngModel)]="password" placeholder="password">
    </p>
  </div>
  <p class="p-container">
    <button type="submit" name="Login" id="go">Login</button>
  </p>
</form>

<p>This is the login page!</p>-->
<button (click)="redirect()">Login</button>
